body {
    font-family: 'Mulish', sans-serif;
}



/* header */
header .nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 127px;
    margin-top: 50px;


}

nav div {
    display: flex;
}

.nav img {
    width: 48px;
    height: 45.008px;

}

.nav .title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    padding-right: 156px;
}

 .vista {
    color: #FF5400;
}

nav>ul {
    display: flex;

}

nav li {

    list-style: none;
    /* margin: 30px; */
    font-weight: 400;
    margin: 30px;

    font-size: 1rem;
    justify-content: space-between;
}

nav li a {
    text-decoration: none;
    color: #42424;
}

.banner-title {

    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;

    margin-left: 130px;
    margin-right: 127px;
    padding-top: 106px;
    padding-left: auto;
    padding-right: auto;
    width: 1170px;
    height: 500px;

    text-align: center;
}

.description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: auto;
}

.banner-title h2 {
    color: white;
    font-size: 64px;
    font-weight: 800;

}

.input {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 122px;
}

input {
    width: 174px;
    height: 52px;
    /* text-align: center; */
    padding-left: 7px;
    /* gap: 24px; */
    border-radius: 8px;

    color: #FFFFFF;
}

.banner input {
    border: 0;
    border-radius: 8px;
    width: 174px;
    height: 52px;
}

.banner button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;

}

/*  */

/* main */
main .main-one {
    display: flex;
    gap: 90px;
    margin-top: -50px;
    margin-left: 130px;
    margin-right: 100px;
}

.desc {
    color: rgba(19, 19, 24, 0.70);

    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.main-one img {
    width: 540px;
    height: 550px;
}

main .para {
    width: 540px;
    height: 480px;
    margin-top: -25px;
}

.btn-two {
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}

.main-two {
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 100px;
}

.main-two .div {
    text-align: center;
    margin-top: -50px;
}

.section {
    margin-top: 30px;
    margin-bottom: 80px;
}

.section .image {
    align-items: center;
    width: 573px;
    height: 300px;
    display: flex;
    gap: 30px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.section .image-two {
    display: flex;
    gap: 26px;
}

.section .image-three {
    display: flex;

    gap: 24px;
    margin-top: -20px;
}

.box-one {
    margin-right: 20px;
}

.box-one .box {

    padding-left: 20px;
    width: 550px;
    height: 284px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
}

.box-two {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.box {
    padding-top: 50px;
}

.box-three {
    margin-left: 300px;
}

.first .box {
    background: rgba(251, 181, 99, 0.05);

}

.second .box {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third .box {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.box p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

/* .input-section{
    width: 393px;
height: 52px;
} */
.main-five {
    margin-top: 100px;
    display: flex;
    gap: 60px;
}

.main-five img {
    width: 672px;
    height: 422px;
}

.news {
    padding-left: 20px;
    width: 1550px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter {
    margin-bottom: 100px;


}

.input-section .something {
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
    height: 52px;
    border-radius: 8px;
    border: none;

}

.news input {
    display: grid;
    grid-template-columns: auto;
    background: rgba(19, 19, 24, 0.05);

    margin-bottom: 10px;
}

.input-section button {
    color: #FFF;
    background: #FF5400;
    text-align: center;
    font-size: 20px;

}
footer {
    margin-top: 100px;
    padding-top: 100px;
     width: 1440px; 
    height: 502px; 
    background: rgba(19, 19, 24, 0.05);
}
.foot .last{
    display: flex;
    margin-left: 600px;
}
.foot{
    /* align-items: center; */
    text-align: center;
}

.foot img {
    width: 30px;
    height: 35.008px;

}
hr{
    width: 1200px;
height: 1px;
background: rgba(255, 255, 255, 0.15);

}
.svg-svg{
    text-align: center;
    margin-bottom: 50px;
}
.hr-hr{
    margin-bottom: 100px;
}



@media screen and (max-width:600px) {
    body {
        width: 375px;
        height: 7429px;
        background: #FFF;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav div {
        margin-left: -100px;
    }

    .nav .class {
        margin-left: -120px;
    }


    nav>ul {
        display: none;

    }

    .banner-title {
        background-image: url(Images/new.png);
        width: 160%;
        height: 683px;
        margin-right: 5px;
        margin-left: 0px;
        /* padding-bottom: -200px; */

    }

    .banner-title h2 {
        text-align: center;
        margin-top: -20px;
        /* margin-bottom: -5px; */
        margin-left: 20px;
        font-size: 32px;
    }

    .banner-title .description {

        /* text-align: left; */
        margin-left: 15px;
        margin-right: 10px;
    }

    .banner-title .ul {

        /* height: 483px; */
        padding-left: 120px;
        padding-right: auto;
        text-align: center;

    }

    .input {
        display: flex;
        width: 287px;
        /* text-align: center; */
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-radius: 8px;

    }

    input {
        padding-left: 16px;
        padding-right: 16px;

    }

    /* main */
    main .main-one {
        flex-direction: column;
        margin-top: -250px;
        margin-left: -10px;
    }

    .main-two {
        margin-left: -20px;

    }

    .main-two .div {
        margin-left: 150px;
        margin-right: -150px;
    }

    .main-two h3 {
        color: #131318;
        text-align: center;
        font-size: 20px;

        font-weight: 800;

    }

    .image,
    .image-two,
    .image-three {
        grid-template-columns: auto;
        width: 335px;
        height: 176px;

    }

    .box-one {
        flex-direction: column;
    }

    .box-two {
        flex-direction: column;
    }
    .box-three{
        /* align-items: flex-start; */
        margin-left: 0;
    }
    .main-five {
        flex-direction: column;
    }

    .news {
        width: 335px;
        height: 353px;
    }

    .main-five img {
        width: 335px;
        height: 300px;
    }

    .input-section .something {
        margin-top: -30px;
        margin-bottom: 40px;
        width: 200px;
        height: 45px;
        border-radius: 8px;
        border: none;
    }

    .news input {
        display: grid;
        grid-template-columns: auto;
        background: rgba(19, 19, 24, 0.05);
        margin-bottom: 10px;
    }

    button .something {
        /* width: 288px; */
        height: 45px;
        margin-top: -100px;
    }

    /* footer */
    .foot .last{
        
        margin-left: 100px;
        margin-right: auto;
    }
   footer{
    margin-left: -20px;
    margin-top: 10px;
    padding-top: 0px;
    width: 375px;
    height: 309px;
   }
   footer .desc{
    text-align: center;
    margin-top: -15px;
    margin-left: 44px;
    margin-right: 44px;
   }
   hr{
    width: 335px;

   }
   .svg-svg{
    width: 375px;

   }
   .hr-hr{
    margin-top: -40px;
    margin-bottom: 20px;
   }

}